{% extends 'base.html.twig' %}

{% block title %}Edit Todo{% endblock %}

{% block body %}
    <h1>Edit my to-do</h1>
    
    <div class="d-grid gap-2 d-sm-block">
        <div class="mb-2">
            {{ include('todo/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <a class="btn btn-primary me-4 mb-2" role="button" href="{{ path('todo_index') }}">
            <i class="bi bi-arrow-left-square"></i>  Back to list
        </a>
        <div class="mb-2">
            {{ include('todo/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
